div {
  border: 4px double #000; 
  outline: 4px solid #fff; 
}
body {
  background-color: #EAD6D2;
}
h2 {
  color: #8B70F9;
}
img {
  border: 4px solid #000;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
ul {
  list-style-image: url('sqpurple.gif');
}
h1 {
  font-size: 60;
  color: #8B70F9;
}
